*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

nav{
    height: 50px;
    background: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 14px 70px;
    color: white;  
}

.menu_item{
    list-style-type: none;
    border-right: 2px dotted black;
    padding-right: 28px;
    
}

.menu_link{
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.subheader{
    position: absolute;
    width: 100%;
    min-height: 87px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 14;
}

.subheader_logo{
    display: block;
    width: 100%; /*любые картинки подстроятся под разсер родителя*/
    margin-top: 16px;
}

.logo_oficial{
    font-weight: 200;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.subheader_call{
    margin-top: 19px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader_btn{
    margin-top: 19px;
    width: 172px;
    height: 46px;
    border: none;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.subheader_phone{
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo{
    min-height: 799px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    z-index: -1;
}



.promo .promo_title{
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo h1.promo_title{
    margin-top: 142px;
    font-size: 60px;
}

.promo .promo_descr {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn{
    display: block;
    margin: 116px auto 185px auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    
}

.reason{
    height: 848px;
}

.reason .lable{
    display: block;
    margin: 0 auto;
    width: 115px;
    margin-top: 19px;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
}

.reason .title{
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.reason .reason_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}


.reason .reason_block .reason_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1EACC7;
    border-radius:100%;
}

.reason .reason_block .reason_textBox{
    width: 343px;
}

.reason .reason_block .reason_textBox .reason_name{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reason .reason_block .reason_textBox .reason_descr{
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

